/* Global */

:root {
  /* Color */

  --color-whilte: #ffffff;
  --color-light-whilte: #eeeeee;
  --color-dark-whilte: #bdbdbd;
  --color-light-puple: #f8dae2;
  --color-pink: #df3f69;
  --color-dark-puple: #773976;
  --color-puple: #8d4e8c;
  --color-little-dark-puple: #9b599a;
  --color-grey: #616161;
  --color-light-light-grey: #b8b8b8;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-light-yellow: #ffca68;
  --color-yellow: #fff7d1;
  --color-dark-orange: #ff5100;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;

  /* Annimation */

  --animation-duration: 150ms;
  --animation-duration-short: 50ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-whilte);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color-dark-puple);
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-puple);
  padding: 16px;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
}

.navbar__menu {
  display: flex;
  padding: 5px;
  margin: 5px;
  border: 2px solid transparent;
  letter-spacing: -1.5px;
  white-space: nowrap;
}

.navbar-picture {
  height: 80px;
  width: 80px;
}

.navber__name {
  position: relative;
  bottom: -40px;
}

.navbar__logo {
  position: relative;
  display: flex;
  color: var(--color-dark-puple);
}

.navbar__logo:hover .navbar-picture {
  transition: all var(--animation-duration) ease-in;
  transform: rotate(180deg);
}

.navbar__logo:not(:hover) .navbar-picture {
  transition: all var(--animation-duration) ease-in;
  transform: rotate(-180deg);
}

.navbar__menu__item.active {
  color: var(--color-whilte);
  border: 3px solid var(--color-whilte);
}

.navbar__menu__item {
  font-weight: var(--weight-semi-bold);
  padding: 5px 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: all var(--animation-duration) ease-in;
}

.navbar__menu__item:hover {
  transition: all var(--animation-duration) ease-in;
  color: var(--color-whilte);
}

@keyframes navColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(119, 57, 118, 0.8);
  }
}

#navbar.navbar--dark {
  padding: 8px;
  transition: navcolor all var(--animation-duration-short) ease-in-out;
  color: var(--color-light-puple);
  font-size: var(--font-small);
  animation: navColor 600ms forwards;
}

#navbar.navbar--dark .navbar-picture {
  height: 40px;
  width: 40px;
  margin: 0 8px 0 0;
}

#navbar.navbar--dark .navber__name {
  position: static;
}

#navbar.navbar--dark .navbar__logo {
  display: flex;
  line-height: 40px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding: 8px 12px;
  background-color: var(--color-little-dark-puple);
  border-bottom: 7px solid var(--color-dark-puple);
  border-right: 7px solid var(--color-dark-puple);
  border-radius: var(--size-border-radius);
}

#navbar.navbar--dark .navbar__menu {
  margin: 0;
  letter-spacing: normal;
}

#navbar.navbar--dark .navbar__menu:hover {
  border: 2px solid var(--color-light-puple);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in;
}

#navbar.navbar--dark .navbar__menu__item {
  padding: 6px 10px;
}

#navbar.navbar--dark .navbar__menu__item.active {
  color: var(--color-whilte);
  border-top: none;
  border-left: none;
  border-bottom: 6px solid var(--color-dark-puple);
  border-right: 6px solid var(--color-dark-puple);
  background-color: var(--color-little-dark-puple);
}

#navbar.navbar--dark .navbar__menu__item:hover {
  background-color: var(--color-little-dark-puple);
  /* font-weight: bolder; */
  /* letter-spacing: -0.678px; */
  color: var(--color-whilte);
  border-bottom: 6px solid var(--color-dark-puple);
  border-right: 6px solid var(--color-dark-puple);
}

#navbar.navbar--dark .navbar__menu__item:active {
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: all var(--animation-duration-short) ease-in;
  box-shadow: -3px -3px var(--color-dark-puple);
  color: var(--color-orange);
}

.navbar__toggle-btn {
  position: absolute;
  top: 25px;
  right: 32px;
  font-size: 24px;
  color: var(--color-whilte);
  display: none;
}

/* Home */

#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 180px;
  text-align: center;
}

.home__avatar {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 4px solid var(--color-little-dark-puple);
  margin: 0 0 10px 0;
}

.home__title,
.home__description {
  color: var(--color-whilte);
  text-shadow: 0 1px var(--color-dark-puple), 1px 0 var(--color-dark-puple);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-dark-puple);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 80px;
}

.major {
  width: 170px;
  height: 296px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-light-yellow);
  border: 1px solid var(--color-light-yellow);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon i:hover {
  color: var(--color-puple);
  transform: rotate(30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.learn {
  display: flex;
  align-items: center;
}

.learn__left {
  display: flex;
  align-items: center;
  width: 120px;
  height: 55px;
  margin: 15px 0;
}

.learn__description {
  margin: 0 16px;
  text-align: left;
}

.learn__name,
.learn__study {
  color: var(--color-light-grey);
}

.learn__name {
  font-size: var(--font-small);
}

.learn__study {
  font-size: var(--font-micro);
}

.learn__logo.hansin {
  width: 70px;
  height: 60px;
}

.learn__logo {
  margin: auto;
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.section__container {
  margin: auto;
}

.skillset {
  color: var(--color-light-whilte);
  display: flex;
  background-color: var(--color-light-light-grey);
  padding: 20px;
  margin: 30px 0 16px 0;
}

.skillset__title {
  color: var(--color-whilte);
  border-bottom: 1px solid var(--color-whilte);
  padding-bottom: 8px;
  margin: 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  padding: 20px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

@keyframes graph {
  from {
    width: 0%;
    height: 10px;
  }
  to {
    width: 100;
    height: 10px;
    background-color: var(--color-dark-orange);
  }
}

.skill:hover .skill__value {
  animation: graph 1s ease-out forwards;
}

.skillset__right {
  flex-basis: 40%;
  align-content: stretch;
}

.tools {
  background-color: var(--color-grey);
  height: 60%;
}

.etc {
  background-color: var(--color-light-grey);
  height: 40%;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 2px solid var(--color-dark-whilte);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 29px 8px 48px;
  margin: 5px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-puple);
  color: var(--color-light-puple);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  color: var(--color-whilte);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 0 5px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-whilte);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-whilte);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-whilte);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-light-whilte);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__speech-bubble {
  padding: 18px;
  width: 100%;
  background-color: var(--color-whilte);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */

#contact {
  background-color: var(--color-puple);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-whilte);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-light-yellow);
}

/* For below 768px screen width */
@media screen and (max-width: 800px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin: auto;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
